<p id="notice"><%= notice %></p>

<div class="container">
  <hr />
  <h3>Job Details</h3>

  <div>
    <strong>Job Title</strong>
    <%= @job.title %></br>

    <strong>Location</strong>
    <%= @job.location %></br>

    </br>
  </div>
<%= render partial: "comments/form", locals: {commentable: @job} %>
<%= render partial: "comments/comments", locals: {commentable: @job} %>
</div>
